Beaker==1.6.4
Django==1.7.4
argparse==1.2.1
dj-database-url==0.3.0
dj-static==0.0.6
django-toolbelt==0.0.1
gunicorn==19.2.1
oauthlib==0.7.2
psycopg2==2.6
python-twitter==2.2
requests==2.5.1
requests-oauthlib==0.4.2
static3==0.5.1
unicodecsv==0.9.4
wsgiref==0.1.2
